body {
    font-family: "Montserrat";
}
    
p{
  color: #8f8f8f;
}
    
    /*Containers*/
.container-fluid{
  padding: 8% 16%;
}
  
    
.title-heading{
  font-family: 'Montserrat';
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.5;
}
.title-image {
  position: absolute;
  right: 30%;
}

.login-img {
  position: absolute;
  right: 1%;
}

    /*Navigation Bar*/
  .navbar {
    padding: 0 0 3.5rem;
  }
    
  .navbar-brand {
    font-family: 'Ubuntu';
    font-size: 3rem;
    font-weight: bold;
  }
    
  .nav-item {
    padding: 0 18px;
  }
    
  .nav-link {
    font-family: 'Montserrat';
    font-weight:400;
    font-size: 1.2rem;
  }
    
  
  #title > .container-fluid {
    padding: 3% 15% 2%;
    text-align: left;
  }
  
  .toptogle{
    text-align: left;
  }
    /*Download buttons*/
  .download-button {
    margin: 5% 3% 5% 0;
  }
    
/* footer */
#footer{
    padding: 1% 15% 3%;
    text-align: center;
  }
  
  .social-icon{
    padding: 20px 10px;
    color: black;
  }
  .social-icon:hover{
    color: #8f8f8f;
  }

  .form-check{
    padding-bottom: 10px;
  }
  .log-form{
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  }

  .forgot-pin,h6,h5{
    text-align: center;
}

  @media (max-width: 1000px){
    #title > .container-fluid{
      text-align: center;
    }
    .log-form{
      text-align: left;
    }
    .title-image{
      position:static;
      transform: rotate(0);
    }
    .login-img{
      position: static;
      padding-top: 45px;
      padding-bottom: 10px;
    }
    .fridge{
      margin-top:45px;
    }
  }